@font-face {
  font-family: "Kurale";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../font/kurale-v9-latin_cyrillic-regular.woff2") format("woff2"),
       url("../font/kurale-v9-latin_cyrillic-regular.woff") format("woff");
}

body {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Kurale", serif;
  font-size: 18px;
  line-height: 1.3;
  color: #1f1c1c;
}

.main {
  padding: 15px;
  flex-grow: 1;
  background-color: #ffffff;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.link {
  font-family: "Kurale", serif;
  font-size: 18px;
  line-height: 1;
  color: #1f1c1c;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #dfa233;
}

.link:active {
  opacity: 0.7;
}

.lng-education-link {
  font-style: italic;
}

.contacts {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1f1c1c;
}

.contacts a {
  padding: 10px;
  color: #ffffff;
}

.change-lang {
  width: 70px;
  font-family: "Kurale", serif;
  font-size: 16px;
  line-height: 1;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}

.personal-date {
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 1px 1px 3px #ccc5c5;
}

.personal-date h1 {
  font-size: 33px;
}

.skills,
.education {
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 1px 1px 3px #ccc5c5;
}

.skills h2,
.education h2,
.projects h2 {
  margin: 0 0 15px 0;
  font-size: 23px;
}

.skills__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.skills__list li {
  position: relative;
  margin-right: 15px;
}

.skills__list li::after {
  content: "\2022";
  margin-left: 15px;
}

.projects {
  margin: 0 0 30px 0;
  padding: 0;
  box-shadow: 1px 1px 3px #ccc5c5;
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.projects__list li {
  position: relative;
  max-width: 250px;
  width: 100%;
  margin: 0 30px 30px 0;
  padding-bottom: 30px;
}

.projects__list li:last-child {
  margin-right: 0;
}

.projects img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.projects span {
  position: absolute;
  bottom: 0;
  left: 0;
}

footer {
  margin-top: auto;
}
